/* Styling for the Navbar */
nav {
background: linear-gradient(to bottom right, #ffc1cc, #e1bee7, #d1c4e9);
    overflow: hidden; /* Prevent overflow */
  }
  
  nav a {
    float: left; /* Align links horizontally */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #ddd; /* Change color on hover */
    color: black;
  }
  